body {
    text-align: center;
    background-color: #011F3F;
    background-image: url("images/background.png");
    background-size: cover;

}

.image {
    background-image: url("images/background-blurred.png");
    background-size: cover;
}

.hide {
    display: none !important;
}

#level-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    color: #2C2E3E;
    margin-bottom: 0px;
}

.text{
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #FF8B8B;
    text-align: left;
}

.navg {
    background-color: #de4935;
    border: 1px solid #de4935;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -2px 4px 2px #2f6627;
}

.play-button {
    border-radius: 28px;
    padding: 6px 76px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.howToPlay-button {
    border-radius: 20px;
    padding: 6px 38px;
    margin-bottom: 30px;
}

.about-button {
    border-radius: 28px;
    padding: 6px 70px;
}

.back-button {
    position: absolute;
    border-radius: 28px;
    padding: 6px 70px;
    top: 0;
    left: 0;
}

.replay-button {
    position: absolute;
    border-radius: 28px;
    padding: 6px 70px;
    top: 0;
    right: 0;
}



.container {
    display: block;
    width: 100%;
    height:80%;
    margin: auto;

}

.btn {
    display: inline-block;
    height: 50px;
    width: 180px;
    border-bottom: 100px solid;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}


.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    position: fixed;
    color: red;
    transform: rotate(40deg);
    right: calc(30% + 0px);
}

.green {
    position: fixed;
    color: green;
    transform: rotate(320deg);
    left:calc(30% + 0px);

}

.blue {
    position: fixed;
    color: blue;
    transform: scaleY(-1);
    transform: rotate(140deg);
    top:calc(60%);
    right:calc(30% + 0px);
}

.yellow {
    position: fixed;
    color: yellow;
    transform: scaleY(-1);
    transform: rotate(220deg);
    top:calc(60%);
    left:calc(30% + 0px);
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
